body {
 font-family: Arial, sans-serif;
 margin:0;
 background-color: #fff8f0;
 color:#333;
}

header {
 background-color: #8b3a3a;
 padding: 15px;
}


nav a {
 color: white;
 margin-right: 10px;
 text-decoration: none;
}

.products {
 display: flex;
 gap: 20px;
 padding: 20px;
}

.product {
  background: white;
  padding: 10px;
  border-radius: 8px ;
  transition: transform 0.3s;
}

.product :hover {
 transform: scale(1.05);
}
 
button {
 background: #8b3a3a;
 color: white;
 border: none;
 padding: 8px;
 cursor: pointer
}

.dark-mode {
 background-color: #222;
 color: white;
}
